<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/barra.css">
    <!-- Incluir la hoja de estilos de Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css">
</head>
<body>
    <div class="content">
        <div class="seccion-botones">
            <a href="/admin/eventos" class="boton-derecha">Regresar</a>
        </div>
        <br> <br> <br>
        <div class="seccion-formulario">
            <h1>Registro de Eventos</h1>
            <form enctype="multipart/form-data" action="/trabajador-eventos/update/<%= evento.id %>" method="post">
                <!-- Otros campos de formulario -->

                <label for="titulo">Título:</label>
                <input type="text" class="form-control" id="titulo" name="titulo" value="<%= evento.titulo %>" >


                <label for="ponentes">Ponentes:</label>
                <input type="text" class="form-control" id="ponentes" name="ponentes" value="<%= evento.ponentes %>" >

                <label for="fecha">Fecha:</label>
                <input type="date" class="form-control" id="fecha" name="fecha" value="<%= evento.fecha %>" >

                <label for="categoria">Categoría:</label>

                <select class="form-control" id="categoria" name="categoria" multiple required>
                    <!-- Opciones adicionales -->
                    <option value="corporativo" <%= evento.categoria.includes('corporativo') ? 'selected' : '' %>>Corporativo</option>
                    <option value="comercial" <%= evento.categoria.includes('comercial') ? 'selected' : '' %>>Comercial</option>
                    <option value="arbitraje" <%= evento.categoria.includes('arbitraje') ? 'selected' : '' %>>Arbitraje</option>
                    <option value="arbitraje y contrataciones con el estado" <%= evento.categoria.includes('arbitraje y contrataciones con el estado') ? 'selected' : '' %>>Arbitraje y Contrataciones con el Estado</option>
                    <option value="arbitraje y comercial" <%= evento.categoria.includes('arbitraje y comercial') ? 'selected' : '' %>>Arbitraje y Comercial</option>
                    <option value="arbitraje y civil" <%= evento.categoria.includes('arbitraje y civil') ? 'selected' : '' %>>Arbitraje y Civil</option>
                    <option value="arbitraje express" <%= evento.categoria.includes('arbitraje express') ? 'selected' : '' %>>Arbitraje Express</option>
                    <option value="arbitraje de menor cuantia" <%= evento.categoria.includes('arbitraje de menor cuantia') ? 'selected' : '' %>>Arbitraje de Menor Cuantía</option>
                    <option value="arbitraje alta cuantia" <%= evento.categoria.includes('arbitraje alta cuantia') ? 'selected' : '' %>>Arbitraje Alta Cuantía</option>
                    <option value="arbitraje de emergencia" <%= evento.categoria.includes('arbitraje de emergencia') ? 'selected' : '' %>>Arbitraje de Emergencia</option>
                    <option value="conciliación extrajudicial" <%= evento.categoria.includes('conciliación extrajudicial') ? 'selected' : '' %>>Conciliación Extrajudicial</option>
                    <option value="conciliación y familia" <%= evento.categoria.includes('conciliación y familia') ? 'selected' : '' %>>Conciliación y Familia</option>
                    <option value="conciliación y comercial" <%= evento.categoria.includes('conciliación y comercial') ? 'selected' : '' %>>Conciliación y Comercial</option>
                    <option value="conciliación y civil" <%= evento.categoria.includes('conciliación y civil') ? 'selected' : '' %>>Conciliación y Civil</option>
                    <option value="conciliación y contrataciones con el estado" <%= evento.categoria.includes('conciliación y contrataciones con el estado') ? 'selected' : '' %>>Conciliación y Contrataciones con el Estado</option>
                    <option value="contrataciones con el estado" <%= evento.categoria.includes('contrataciones con el estado') ? 'selected' : '' %>>Contrataciones con el Estado</option>
                    <option value="civil" <%= evento.categoria.includes('civil') ? 'selected' : '' %>>Civil</option>
                    <option value="familia" <%= evento.categoria.includes('familia') ? 'selected' : '' %>>Familia</option>
                    <!-- Todas las opciones han sido agregadas -->
                </select>

                <label for="descripcion">Descripción:</label>
                <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required><%= evento.descripcion %></textarea>

            
                <label for="documentos">Documento:</label>
                <% if (evento.documentos) { %>
                <!-- Muestra el nombre del documento actual si existe -->
                <p>Nombre del documento actual: <%= evento.documentos %></p>
                <% } %>
                <!-- Campo de formulario para cargar un nuevo documento -->
                <input type="file" class="form-control-file" id="documentos" name="documentos" accept=".pdf, .doc, .docx" >


                <label for="imagen">Imagen:</label>
                <!-- Muestra la imagen actual si existe -->
                <% if (evento.imagen) { %>
                <img src="/uploads/eventos/imagen/<%= evento.imagen %>" alt="Imagen actual" style="max-width: 200px; max-height: 200px;">
                <% } %>
                <input type="file" class="form-control-file" id="imagen" name="imagen" accept="image/*" >

                <!-- Contenedor donde se mostrará el mapa con un tamaño fijo -->
                <div>
                    <h3>Ubicacion</h3>
                    <p>Ubica el evento en el mapa</p>
                
                    <div id="mapa" style="height: 300px; width: 100%; max-width: 600px; border: 1px solid #ddd; margin-bottom: 10px;"></div>
                
                    <div>
                        <p class="calle">Calle actual: <%= evento.calle %></p>
                    </div>
                
                    <input type="hidden" name="calle" id="calle" value="<%= evento.calle %>">
                    <input type="hidden" name="lat" id="lat" value="<%= evento.lat %>">
                    <input type="hidden" name="lng" id="lng" value="<%= evento.lng  %>">
                </div>

                <!-- Botón para registrar -->
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </form>
        </div>
    </div>

    <!-- Incluir las bibliotecas Leaflet y Esri -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/esri-leaflet@3.0.8/dist/esri-leaflet.js"></script>
    <script src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geosearch/2.7.0/bundle.min.js"></script>
    <!-- Tu script Leaflet -->
    <script src="/js/mapa.js"></script>

</body>
</html>

