








    <div id="content">
    <div class="slider-sub">
      <div class="bg-img">
        <img src="/assets/images/banner/blog.jpg" alt="banner" />
      </div>
      <div class="container">
        <div class="heading-nav gap-4 mt-32">
          <a class="hover-underline caption1 text-white" href="/"
            >Home</a
          ><i class="ph ph-caret-double-right text-white"></i>
          <div class="caption1 text-white">Blog</div>
        </div>
        <div class="text-nav">
          <div class="heading3 text-white">Blog</div>
          <div class="sub-heading mt-8 text-white fw-400">
            Discover valuable insights and expert advice on budgeting,
            investing, and retirement planning in our Financial Blogs section.
          </div>
        </div>
      </div>
    </div>
    
      <div class="blog-list mt-100">
          <div class="container"> 
    
            <% blogs.forEach(blog => { %>
              <div class="col-12 col-lg-8 flex-column row-gap-40" >
                <a
                  class="row blog-item row-gap-20 item-filter"
                  data-name="tab-one"
                  href="/blogs/<%= blog.id %>">
                  <div class="col-12 col-md-6">
                    <div class="bg-img w-100 overflow-hidden bora-16">
                      <img
                        class="w-100 h-100 display-block"
                        src="../../uploads/blogs/<%= blog.imagen %>"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div
                      class="caption2 pt-4 pb-4 pl-12 pr-12 bg-surface bora-40 display-inline-block"
                    >
                    <%- blog.categoria -%>
                    </div>
                    <div class="heading6 mt-8">
                      <%- blog.titulo -%>
                    </div>
                    <div class="date flex-item-center gap-16 mt-8">
                      <div class="author caption2 text-secondary">
                        by <span class="text-on-surface"><%- blog.user.userid -%>
                        </span>
                      </div>
                      <div class="item-date flex-item-center">
                        <i class="ph-bold ph-calendar-blank"></i
                        ><span class="ml-4 caption2"><%- blog.fecha -%></span>
                      </div>
                    </div>
                    <div class="body3 text-secondary mt-16 pb-16">
                      <%- blog.descripcion -%>
                    </div>
                    <div class="read fw-700 text-underline">Read More</div>
                  </div></a
                ><a
                  class="row blog-item row-gap-20 item-filter"
                  href="blog-detail-one.html"
                  data-name="tab-one"
                >
              </div>
              <% }); %>
          
       

            <div class="cate-block mt-40">
              <div class="heading7">Categories</div>
              <div class="list-nav mt-16">
                <div
                  class="nav-item bora-8 flex-between p-12 pointer text-button text-secondary active"
                  data-name="tab-one"
                >
                  Financial Planning<i
                    class="ph-bold ph-caret-right hidden"
                  ></i>
                </div>
                <div
                  class="nav-item bora-8 flex-between p-12 pointer text-button text-secondary"
                  data-name="tab-two"
                >
                  Payment Solution<i
                    class="ph-bold ph-caret-right hidden"
                  ></i>
                </div>
                <div
                  class="nav-item bora-8 flex-between p-12 pointer text-button text-secondary"
                  data-name="tab-three"
                >
                  Cryptocurrency Financial<i
                    class="ph-bold ph-caret-right hidden"
                  ></i>
                </div>
                <div
                  class="nav-item bora-8 flex-between p-12 pointer text-button text-secondary"
                  data-name="tab-one"
                >
                  Blockchain<i class="ph-bold ph-caret-right hidden"></i>
                </div>
                <div
                  class="nav-item bora-8 flex-between p-12 pointer text-button text-secondary"
                  data-name="tab-two"
                >
                  Online Banking<i class="ph-bold ph-caret-right hidden"></i>
                </div>
                <div
                  class="nav-item bora-8 flex-between p-12 pointer text-button text-secondary"
                  data-name="tab-three"
                >
                  Personal Financial<i
                    class="ph-bold ph-caret-right hidden"
                  ></i>
                </div>
              </div>
            </div>
          
      
            <div class="recent-post-block mt-40">
              <div class="recent-post-heading heading7">Recent Posts</div>
              <div class="list-recent-post mt-16">
                    <% blogs.forEach((blog, index) => { %>
                      <div class="recent-post-item<%= index > 1 ? ' mt-8' : '' %>">
                          <a class="item-img" href="/blog/<%= blog.id %>">
                              <img src="../../uploads/blogs/<%= blog.imagen %>" alt="<%= blog.titulo %>" />
                          </a>
                          <div class="item-infor">
                              <a href="/blog/<%= blog.id %>">
                                  <div class="item-date flex-item-center">
                                      <i class="ph-bold ph-calendar-blank"></i>
                                      <span class="ml-4 caption2"><%= blog.fecha %></span>
                                  </div>
                                  <div class="item-title mt-4">
                                      <%= blog.titulo %>
                                  </div>
                              </a>
                          </div>
                      </div>
                  <% }); %>
              </div>
          </div>
            <div class="tags-popular-block mt-40">
              <div class="tag-heading heading7">Popular Tags</div>
              <div class="list-tag mt-16 d-flex flex-wrap gap-12">
                <a
                  class="caption2 pt-8 pb-8 pl-16 pr-16 bg-surface bora-20 hover-button-black"
                  href="#!"
                  >Featured</a
                ><a
                  class="caption2 pt-8 pb-8 pl-16 pr-16 bg-surface bora-20 hover-button-black"
                  href="#!"
                  >Experience</a
                ><a
                  class="caption2 pt-8 pb-8 pl-16 pr-16 bg-surface bora-20 hover-button-black"
                  href="#!"
                  >Interview</a
                ><a
                  class="caption2 pt-8 pb-8 pl-16 pr-16 bg-surface bora-20 hover-button-black"
                  href="#!"
                  >Skill</a
                ><a
                  class="caption2 pt-8 pb-8 pl-16 pr-16 bg-surface bora-20 hover-button-black"
                  href="#!"
                  >Business</a
                ><a
                  class="caption2 pt-8 pb-8 pl-16 pr-16 bg-surface bora-20 hover-button-black"
                  href="#!"
                  >Design</a
                >
              </div>
            </div>
          </div>
      
        </div>
      </div>
      <a class="scroll-to-top-btn" href="#header"
        ><i class="ph-bold ph-caret-up"></i
      ></a>
      <div class="pb-100"></div>
    