


<div id="content">
  <div class="slider-sub">
    <div class="bg-img">
      <div class="bg-img"> <img src="assets/images/noticias.jpg" alt="banner"/></div>
    </div>
    <div class="container">

      <div class="text-nav" style="padding-top: 65px;">
        <div class="heading3 text-black">Noticias</div>
        <div class="sub-heading mt-8 text-black fw-100">
          Experimenta resoluciones justas y eficientes con nuestro servicio de conciliación y arbitraje. Soluciones rápidas para conflictos comerciales. ¡Transformamos desafíos en acuerdos sólidos!
        </div>
      </div>
    </div>
  </div>

  <div class="blog-list mt-100">
      <div class="container"> 

        <% noticias.forEach(noticia => { %>
          <% let categoriaString = noticia.categoria; %>
          <% if (typeof categoriaString === 'object') { %>
            <% categoriaString = JSON.stringify(categoriaString); %>
          <% } %>
          <% categoriaString = categoriaString.replace(/'/g, '"'); %>
          <% const categorias = JSON.parse(categoriaString); %>


          <% const limitedDescription = noticia.descripcion.slice(0, 150).replace(/<[^>]+>/g, ''); %>


            <div class="col-12 col-lg-8 flex-column row-gap-40">
              <a class="row blog-item row-gap-20 item-filter" href="/noticias/<%= noticia.id %>" data-name="<%= noticia.categoria %>">
                  <div class="col-12 col-md-6">
                      <div class="bg-img w-100 overflow-hidden bora-16">
                          <img class="w-100 h-100 display-block" src="../../uploads/noticias/<%= noticia.imagen %>" alt="<%= noticia.titulo %>" />
                      </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="list-tag mt-16 d-flex flex-wrap gap-12"
                    >
                    <% categorias.forEach(c => { %>
                      <a class="caption2 pt-8 pb-8 pl-16 pr-16 bg-surface bora-20 hover-button-black" href="#!">
                        <%= c %>
                      </a>
                    <% }); %>

                  </div>

                      
                      <div class="heading6 mt-8">
                          <%- noticia.titulo %>
                      </div>
                      <div class="date flex-item-center gap-16 mt-8">
                          <div class="author caption2 text-secondary">
                              by 
                              <% if (noticia.user && noticia.user.email) { %>
                                  <span class="text-on-surface"><%- noticia.user.email %></span>
                              <% } else { %>
                                  <span class="text-on-surface">Usuario sin correo</span>
                              <% } %>
                          </div>
                          <div class="item-date flex-item-center">
                              <i class="ph-bold ph-calendar-blank"></i><span class="ml-4 caption2"> <%- noticia.fecha %></span>
                          </div>
                      </div>
                      <!-- Puedes agregar más detalles sobre el evento aquí si es necesario -->
                      <div class="body3 text-secondary mt-16 pb-16">
                          <%= limitedDescription %>....
                      </div>
                      <div class="read fw-700 text-underline">Leer más</div>
                    </div>
              </a>
            </div>

          <% }); %>
      
          <!-- Navegación Paginada -->
          <div class="list-nav flex-item-center gap-8">
              <!-- Puedes generar dinámicamente estos elementos según la cantidad de páginas -->
              <div class="nav-item bora-4 bg-surface text-button w-40 h-40 flex-center border-line-1px active" data-name="tab-one">1</div>
              <div class="nav-item bora-4 bg-surface text-button w-40 h-40 flex-center border-line-1px" data-name="tab-two">2</div>
              <div class="nav-item bora-4 bg-surface text-button w-40 h-40 flex-center border-line-1px" data-name="tab-three">3</div>
          </div>
        <div class="cate-block mt-40">
          <div class="heading7">Categories</div>
          <div class="list-nav mt-16">
            <div
              class="nav-item bora-8 flex-between p-12 pointer text-button text-secondary active"
              data-name="tab-one"
            >
              Financial Planning<i
                class="ph-bold ph-caret-right hidden"
              ></i>
            </div>
            <div
              class="nav-item bora-8 flex-between p-12 pointer text-button text-secondary"
              data-name="tab-two"
            >
              Payment Solution<i
                class="ph-bold ph-caret-right hidden"
              ></i>
            </div>
            <div
              class="nav-item bora-8 flex-between p-12 pointer text-button text-secondary"
              data-name="tab-three"
            >
              Cryptocurrency Financial<i
                class="ph-bold ph-caret-right hidden"
              ></i>
            </div>
            <div
              class="nav-item bora-8 flex-between p-12 pointer text-button text-secondary"
              data-name="tab-one"
            >
              Blockchain<i class="ph-bold ph-caret-right hidden"></i>
            </div>
            <div
              class="nav-item bora-8 flex-between p-12 pointer text-button text-secondary"
              data-name="tab-two"
            >
              Online Banking<i class="ph-bold ph-caret-right hidden"></i>
            </div>
            <div
              class="nav-item bora-8 flex-between p-12 pointer text-button text-secondary"
              data-name="tab-three"
            >
              Personal Financial<i
                class="ph-bold ph-caret-right hidden"
              ></i>
            </div>
          </div>
        </div>
      
         <div class="recent-post-block mt-40">
            <div class="recent-post-heading heading7">Recent Posts</div>
            <div class="list-recent-post mt-16">
                <% noticias.forEach((noticia, index) => { %>
                    <div class="recent-post-item<%= index > 1 ? ' mt-8' : '' %>">
                        <a class="item-img" href="/noticias/<%= noticia.id %>">
                            <img src="../../uploads/noticias/<%= noticia.imagen %>" alt="<%= noticia.titulo %>" />
                        </a>
                        <div class="item-infor">
                            <a href="/noticias/<%= noticia.id %>">
                                <div class="item-date flex-item-center">
                                    <i class="ph-bold ph-calendar-blank"></i>
                                    <span class="ml-4 caption2"><%= noticia.fecha %></span>
                                </div>
                                <div class="item-title mt-4">
                                    <%= noticia.titulo %>
                                </div>
                            </a>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
        <div class="tags-popular-block mt-40">
          <div class="tag-heading heading7">Popular Tags</div>
          <div class="list-tag mt-16 d-flex flex-wrap gap-12">
            <a
              class="caption2 pt-8 pb-8 pl-16 pr-16 bg-surface bora-20 hover-button-black"
              href="#!"
              >Featured</a
            ><a
              class="caption2 pt-8 pb-8 pl-16 pr-16 bg-surface bora-20 hover-button-black"
              href="#!"
              >Experience</a
            ><a
              class="caption2 pt-8 pb-8 pl-16 pr-16 bg-surface bora-20 hover-button-black"
              href="#!"
              >Interview</a
            ><a
              class="caption2 pt-8 pb-8 pl-16 pr-16 bg-surface bora-20 hover-button-black"
              href="#!"
              >Skill</a
            ><a
              class="caption2 pt-8 pb-8 pl-16 pr-16 bg-surface bora-20 hover-button-black"
              href="#!"
              >Business</a
            ><a
              class="caption2 pt-8 pb-8 pl-16 pr-16 bg-surface bora-20 hover-button-black"
              href="#!"
              >Design</a
            >
          </div>
        </div>
      </div>
  
    </div>
  </div>
  <a class="scroll-to-top-btn" href="#header"
    ><i class="ph-bold ph-caret-up"></i
  ></a>
  <div class="pb-100"></div>
