<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Noticia</title>
    <link rel="stylesheet" href="/assets/css/barra.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.0/dist/trix.css">
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"></script>
</head>
<body>
    
<div class="content">
  <div class="seccion-botones">
      <!-- Contenido principal de la página -->
      <a href="/admin/noticias" class="boton-derecha">Regresar</a>
  </div>
  <br> <br> <br>
  <div class="seccion-formulario">
    <h1>Editar Noticia</h1>
    <form enctype="multipart/form-data" action="/updatenoticias/<%= noticia.id %>" method="post">

        <label for="titulo">Título:</label>
        <input type="text" class="form-control" id="titulo" name="titulo" value="<%= noticia.titulo %>" required>

        <label for="fecha">Fecha:</label>
        <input type="date" class="form-control" id="fecha" name="fecha" value="<%= noticia.fecha %>" required>

        <label for="categoria">Categoría:</label>
        <select class="form-control" id="categoria" name="categoria" multiple required>
            <!-- Opciones adicionales -->
            <option value="corporativo" <%= noticia.categoria.includes('corporativo') ? 'selected' : '' %>>Corporativo</option>
            <option value="leyes" <%= noticia.categoria.includes('leyes') ? 'selected' : '' %>>Leyes</option>
            <option value="cajamarca" <%= noticia.categoria.includes('cajamarca') ? 'selected' : '' %>>Cajamarca</option>
            <option value="comercial" <%= noticia.categoria.includes('comercial') ? 'selected' : '' %>>Comercial</option>
            <option value="arbitraje" <%= noticia.categoria.includes('arbitraje') ? 'selected' : '' %>>Arbitraje</option>
            <option value="arbitraje y contrataciones con el estado" <%= noticia.categoria.includes('arbitraje y contrataciones con el estado') ? 'selected' : '' %>>Arbitraje y Contrataciones con el Estado</option>
            <option value="arbitraje y comercial" <%= noticia.categoria.includes('arbitraje y comercial') ? 'selected' : '' %>>Arbitraje y Comercial</option>
            <option value="arbitraje y civil" <%= noticia.categoria.includes('arbitraje y civil') ? 'selected' : '' %>>Arbitraje y Civil</option>
            <option value="arbitraje express" <%= noticia.categoria.includes('arbitraje express') ? 'selected' : '' %>>Arbitraje Express</option>
            <option value="arbitraje de menor cuantia" <%= noticia.categoria.includes('arbitraje de menor cuantia') ? 'selected' : '' %>>Arbitraje de Menor Cuantía</option>
            <option value="arbitraje alta cuantia" <%= noticia.categoria.includes('arbitraje alta cuantia') ? 'selected' : '' %>>Arbitraje Alta Cuantía</option>
            <option value="arbitraje de emergencia" <%= noticia.categoria.includes('arbitraje de emergencia') ? 'selected' : '' %>>Arbitraje de Emergencia</option>
            <option value="conciliación extrajudicial" <%= noticia.categoria.includes('conciliación extrajudicial') ? 'selected' : '' %>>Conciliación Extrajudicial</option>
            <option value="conciliación y familia" <%= noticia.categoria.includes('conciliación y familia') ? 'selected' : '' %>>Conciliación y Familia</option>
            <option value="conciliación y comercial" <%= noticia.categoria.includes('conciliación y comercial') ? 'selected' : '' %>>Conciliación y Comercial</option>
            <option value="conciliación y civil" <%= noticia.categoria.includes('conciliación y civil') ? 'selected' : '' %>>Conciliación y Civil</option>
            <option value="conciliación y contrataciones con el estado" <%= noticia.categoria.includes('conciliación y contrataciones con el estado') ? 'selected' : '' %>>Conciliación y Contrataciones con el Estado</option>
            <option value="contrataciones con el estado" <%= noticia.categoria.includes('contrataciones con el estado') ? 'selected' : '' %>>Contrataciones con el Estado</option>
            <option value="civil" <%= noticia.categoria.includes('civil') ? 'selected' : '' %>>Civil</option>
            <option value="comercial" <%= noticia.categoria.includes('comercial') ? 'selected' : '' %>>Comercial</option>
            <option value="familia" <%= noticia.categoria.includes('familia') ? 'selected' : '' %>>Familia</option>
            <!-- Todas las opciones adicionales han sido agregadas aquí -->
        </select>

        <label for="descripcion">Descripción:</label>
        <div class="form-control">
            <input type="hidden" id="x" name="descripcion" value="<%= noticia.descripcion %>">
            <trix-editor input="x"></trix-editor>
        </div>
        <!-- <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required><%= noticia.descripcion %></textarea> -->

        <label for="imagen">Imagen:</label>
        <!-- Muestra la imagen actual si existe -->
        <% if (noticia.imagen) { %>
            <img src="/uploads/noticias/<%= noticia.imagen %>" alt="Imagen actual" style="max-width: 200px; max-height: 200px;">
        <% } %>
        <input type="file" class="form-control-file" id="imagen" name="imagen" accept="image/*" >

        <button type="submit" class="btn btn-primary">Actualizar</button>

    </form>
  </div>
</div>
</body>
</html>
